<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #252525;"></span>
		<span class="sg-label">
			$color-brand-primary <br />
			#252525
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0ec9df;"></span>
		<span class="sg-label">
			$color-brand-secondary <br />
			#0ec9df
		</span>
	</li>
</ul>