<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: red;"></span>
		<span class="sg-label">
			$color-brand-primary <br />
			red
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: blue;"></span>
		<span class="sg-label">
			$color-brand-secondary <br />
			blue
		</span>
	</li>
</ul>
