<div style="display: flex;">
    <div style="width: 50%; background: lightpink;">
        {{> components-card }}
    </div>
    <div style="width: 50%; background: lightsteelblue;">
        {{> components-card }}
    </div>
</div>