<div
    class="fifty-fifty"
    style="background-image: url('');"
>
    <div class="row {{swapSides}}">
        <div class="col-12 col-lg-6 p-5 d-flex flex-column justify-content-center">
            <h1 class="font-serif">{{fifty.text.heading}}</h1>
            <p class="lead">{{fifty.text.subHeading}}</p>
            <a
                class="btn btn-secondary align-self-start"
                href="#"
                role="button"
            >{{fifty.text.button}}</a>

        </div>
        <div class="d-flex col-12 col-lg-6 img-side">
            <img
                class="mx-auto img-fluid"
                data-object-fit="cover"
                src="{{fifty.img}}"
            />
        </div>
    </div>
</div>