/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

$font: 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif !default;
$font-secondary: Georgia, Times, 'Times New Roman', serif !default;

$font-size-small: 0.75rem !default;
$font-size-small-2: 0.875rem !default;
$font-size-med: 1rem !default;
$font-size-med-2: 1.0625rem !default;
$font-size-large: 1.4375rem !default;
