<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}
<script src="../../js/vendor.js?{{cacheBuster}}"></script>
<script src="../../js/app.js?{{cacheBuster}}"></script>

<!--FOR BROWSERSYNC-->
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3031/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>

</html>